doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya@css/bahunya-0.1.3.css")
    body 
        header
                h1 Chat
        main 
            div#welcome
                h4 Open Rooms: 
                ul
                form 
                    input#roomNum(placeholder="room name", required, type="text")
                    input#nickname(placeholder="nickname", required, type="text")
                    button Enter Room
            div#room
                form#msg
                    h4
                    ul
                    input(placeholder="message", required, type="text", cols="30", rows="2")
                    button Send
                form#nickChange
                    input(placeholder="change your nickname", required, type="text")
                    button Change
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")